body {
	color: #fefefe;
	background: #e3edf9; /* Old browsers */
	background: -moz-linear-gradient(left,  #272727 0%, #000000 15%, #000000 85%, #272727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#272727), color-stop(15%,#000000), color-stop(85%,#000000), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #272727 0%,#000000 15%,#000000 85%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e3edf9 0%,#272727 15%,#000000 85%,#272727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e3edf9 0%,#272727 15%,#000000 85%,#272727 100%); /* IE10+ */
	background: linear-gradient(to right,  #e3edf9 0%,#272727 15%,#000000 85%,#272727 100%); /* W3C */
	background-image: url("../../img/terawatt/tw_logo_watermark_1035x1035.png");
	background-position: 470px 370px;
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#272727',GradientType=1 ); /* IE6-9 */
}

a {
	color: #00a5d5;
}

a:hover {
	color: #ffee00;
}

#stlviewer {
	width: 100%;
	min-height: 300px;
	border: 1px solid #00a5d5;
	margin-bottom: 10px;
}

.imgfile {
	width: 100px;
}

#description {
	padding: 5px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #00a5d5;	
}

.meta {
	padding-top: 7px;
	border-bottom: 1px dashed #00a5d5;	
}

#sources-section {
	max-height: 800px;
	overflow: auto;
}

#stls-section {
	max-height: 800px;
	overflow: auto;
}

#lead-image-container {
	margin: 5px;
}